:root{
  --color-primario: #00aae4;
  --importante-aviso: #414141;
  --white: #fff;
  --letra-footer: #ccc;
  --light-blue: #F2F8FD;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'open sans';
}
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-primario);
}
li{
  list-style: none;
}

/* Header **** */

.header .logo-img{
  height: 60px
}

.header {
  height: 60px;
  width: 100%;
  box-shadow: 0px 1px 5px 0px rgb(231, 231, 231);
  display: flex;
  justify-content: space-between;
  z-index: 9;
}

.nav ul, .nav{
  display: flex;
  align-content: center;
}
.nav ul li {
  display: flex;
  align-self: center;
  margin-right: 20px;
}
.header div {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.header div h1 a{
  color: var(--color-primario);
}
.avatar-header {
  width: 40px;
}
.img-avatar {
  border-radius: 50%;
}


/* Main ****** */

.main {
  background-color: var(--light-blue);
  padding: 30px ;
}
.configuracion {
  width: 1000px;
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 0 auto;
  place-items: center;
  margin-bottom: 25px;
}
.btn-pass {
  padding: 5px 15px;
  margin: 10px 0;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 3px rgb(231 231 231);
  cursor: pointer;
  font-size: 16px;
}

.btn-pass span img {
  width: 15px;
  margin-left: 5px;
}
.configuracion-right {
  text-align: center;
}

.form {
  background-color: var(--white);
  width: 1000px;
  margin: 0 auto;
  display: grid;
  padding: 35px 70px;
  border-radius: 30px 50% 50% 30px;
}
.form input,select {
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 25px;
  outline: none;
  border: none;
  box-shadow: 0px 1px 5px 0px rgb(231, 231, 231);
  width: 600px;
  border-radius: 5px;
}

.form select:focus,input:focus {
  border: 1px solid var(--color-primario);
  border-radius: 3px;
}
.form input[type="submit"] {
  width: 250px;
  height: 40px;
  margin: 0 auto;
  padding: 10px 15px;
  margin-bottom: 30px;
  margin-top: 20px;
  background-color: var(--color-primario);
  color: var(--white);
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 18px;
}
.form h2 {
  margin-bottom: 30px;
  text-align: center;
  color: var(--color-primario);
  font-size: 32px;
  padding: 0 20px;
}


/* footer ******* */

.footer {
  background-color: var(--light-blue);
  text-align: center;
  padding-bottom: 30px;
}
