* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
  
}

.titulo {
    padding: 60px;
    font-size: 40px;
    text-align: center;
    
}
.portada{
    width: 100%;
    height: 600px;
    background: #f5f5f5b6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(226, 16%, 58%, 0.562), #bacada00),url(imagenes/mujer-feliz-levantando-las-manos1.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(225, 25%, 70%, 0.452), hsla(0, 0%, 100%, 0)),url(imagenes/mujer-feliz-levantando-las-manos1.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    
}
.cuadrado{
    text-align: center;
}
/*menu*/
header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.logo{
    display: 50px;
    align-items: center;

}
.logo img{
    height: 75px;
    padding-left: 50px;
    
}
a{
    text-decoration: none;
    color:black;

}
nav a {
    font-weight: 600;
    padding-right: 75px;
}
.boton{
    background-color: #00aae4;
    color:#fff;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 45px;
    

}


/*titulo*/
.menu{
    background: #F8F3F2;
    padding: 20px 0 20px 0;
    margin: auto;
    overflow: hidden;
    font-size: 'optima' ;
}

.portada{
    display: flex;
    align-items: center;
    justify-content: center;/*titulo en el centro de la image*/
    flex-direction: column;
    padding: auto 50px;

}
.portada h1{
    font-size: 50px;
    color:#00aae4;
    text-align: center;
}

.portada h3{
    font-size: 30px;
    font-weight: 300;
    color:#00aae4;
    text-align: center;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*SOBRE NOSOTROS*/
.cuadradoprincipal{
    text-align: center;
    padding-top: 50px;
}
.Contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-between;
   
}
.sobre-nosotros .contenido-texto{
    width:48%;
}
.Contenedor-sobre-nosotros img{
    width: 500px;
    height: 500px;
    clip-path: circle();
    margin-left:150px;
    margin-right:50px;
    transition: all 400ms ease;
    
    
}
.Contenedor-sobre-nosotros img:hover{
    transform: translateY(-2%);
    transition: all 400ms ease;
}
.Contenedor-sobre-nosotros p{
    text-align: left;
    margin-right: 125px;

}


/* NUESTROS VALORES */
.valores-cont{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    background-color: #b1afaf;
    text-align: center;
    transition: all 400ms ease;


}
.valores-ind img{
    padding: 20px;
    width: 75%;
    margin-bottom: 10px;
}
.valores2-ind img{
    padding: 20px;
    width: 75%;
    margin-bottom: 10px;
}
.valores2-ind{
    background-color: rgb(236, 231, 231);
    
    
}
.valores-ind :hover{
    transform: translateY(-3%);
}
.valores2-ind :hover{
    transform: translateY(-3%);
}
.valores-ind h3 .valores-ind h3{
    
    margin: 10px 0;
    font-size: 26px;
    text-align:center ;
    
}
.valores-ind p{
  
    text-align:center ;
    margin-bottom: 50px;
}


/* ESPECIALISTAS*/
.especialistas-cont{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    background-color: #b1afaf;
    text-align: center;
    transition: all 400ms ease;
    
} 
 
.especialistas-ind:hover {
    transform: translateY(-3%);
    
}
.especialistas2-ind:hover {
    transform: translateY(-3%);
}

.especialistas-ind img{
    padding: 20px;
    width: 75%;
    margin-bottom: 10px;
    
}
.especialistas2-ind img{
    padding: 20px;
    width: 75%;
    
    
}
.especialistas-ind  h3{
    margin-bottom: 50px;
    text-align: center;
}
.especialistas2-ind img{
    width: 70%;
    margin-bottom: 10px;
    
}
.especialistas2-ind{
    background-color: rgb(236, 231, 231);
    
    
}

/*ayuda*/

.about-ayuda{
    /*fondo*/
    background: #00aae4;
    padding-bottom: 100px;
    
}


.galeria{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 25px;
    margin: 10px 0;
    margin-left: 100px;
    margin-right: 0px;
    transition: all 400ms ease;
}
.galeria img{
    margin-left: 60px;
    cursor: pointer;
}
.galeria img:hover{
    transform: translateY(-3%);
}
.contenedor-ayuda h3{
    text-align: center;
    padding: 50px;
}
.galeria p{
     text-align: center;
     margin-right:100px ;
}
.foto p{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  
}
.ayuda{
    text-align: center;
    padding: 60px;
}
.subtexto{
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}
/*---IMPORTANTE---*/
.about-importante{
    background: #414141;
    padding: 40px 0 20px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-importante{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    
}

.content-importante{
    text-align: center;
}

.content-importante p{
    color: #ccc;
}

/*---CONTENIDOFINAL---*/
footer{
    background: #fff;
    padding-bottom: 100px;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
  padding-left: 50px;  
}

.content-foo{
    display: flex;
    height: 60px;
    align-items: center;
    background-color: #fff;
    padding-top: 70px;

}

.content-foo h5{
    color: #ccc;
    padding-left: 20px;
}
.content-foo a{
    color: #b1afaf;
    padding-left: 250px;
    font-size: 15px;
}
.content-terminos{
    display: flex;
    align-items: center;
    padding-top: 30px;

}
.content-terminos h5{
    color: #ccc;
    padding-left: 20px;
}
.content-terminos a{
    color: #b1afaf;
    padding-left: 375px;
    font-size: 15px;
    
}









